# Hidden files
.DS_Store
.envrc
.vscode/
.prettierrc
.python-version

# Byte-compiled files
__pycache__/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Files creates when testing the demo project or workflows
.snakemake/
demo/capture/results
demo/mrna/results
demo/genome/results
demo/reference
demo/references
demo/scratch
#demo/data/*bam
demo/results_archive
demo/scratch_archive
demo/results
demo
#delete the two
demo/results_capture    
data1                   
# Files creates when dealing with lofreq issue
modules/lofreq/1.0/src/bin



# Ignore example snakefiles
/examples

# Ignore sphinx builds
/docs/build
/docs/source/_build
demo/run_clc.sh
