# Hidden files
.DS_Store
.envrc
.vscode/
.prettierrc

# Byte-compiled files
__pycache__/

# Distribution folders
*.egg-info/
*.egg

# Files creates when testing the demo project
.snakemake/
/demo/results/
/demo/reference
/demo/scratch
/demo/data/*
!/demo/data/samples.tsv

# Ignore example snakefiles
/examples

# Ignore sphinx builds
/docs/build
/docs/source/_build
