lcr-modules:
    
    starfish:

        dirs: 
            
            _parent: "__UPDATE__" # The path to the directory where you want module results saved
            # Example: "results/gambl/starfish_strelka_lofreq_mutect"

        inputs:
            
            vcf: 

                names: 
                    ["__UPDATE__"] # Comma-separated list of names of each input variant caller you would like used in output file names. 
                    # These must appear in the same order as the paths listed under `paths` below. 
                    # Example: 
                    # ["strelka", "lofreq"]

                paths: 
                    ["__UPDATE__"] # Comma-separated list of paths to each VCF file to use as input to Starfish. 
                    # Available wildcards: {tumour_id}, {normal_id}, {sample_id}, {pair_status}, {genome_build}, {seq_type}. 
                    # Example: 
                    # [
                    #     "results/strelka-1.1/99-outputs/vcf/{seq_type}--{genome_build}/{tumour_id}--{normal_id}--{pair_status}.strelka.combined.vcf.gz", 
                    #     "results/lofreq-1.0/99-outputs/vcf/{seq_type}--{genome_build}/{tumour_id}--{normal_id}--{pair_status}.lofreq.snvs.vcf.gz"
                    # ]
                
                

            starfish_script: "{MODSDIR}/src/starfish.py"

        scratch_subdirectories: []

        options:
            starfish_run: "--sample ALT --squash-ploidy --vennout-format pdf"
            starfish_union: "-m both"

        conda_envs:
            bcftools: "{MODSDIR}/envs/bcftools-1.10.2.yaml"
            starfish: "{MODSDIR}/envs/starfish.yaml"
            
        threads:
            starfish_run: 4
            starfish_union: 4

        resources:
            starfish_run: 
                mem_mb: 15000
            starfish_union: 
                mem_mb: 10000

        pairing_config:
            genome:
                run_paired_tumours: True
                run_unpaired_tumours_with: "unmatched_normal"
                run_paired_tumours_as_unpaired: False
            capture:
                run_paired_tumours: True
                run_unpaired_tumours_with: "unmatched_normal"
                run_paired_tumours_as_unpaired: False
            mrna:
                run_paired_tumours: False
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: True
