lcr-modules:
    
    clairs:

# Additional required columns in your samples table: "chemistry" and "platform"
# Chemistry is the version of pore chemistry used to sequence a particular sample
    # Available values: R9, R10
# Platform is the ClairS model you want to use for calling variants in a particular sample
    # consult the table below for available values
    # ____________________________________________________________________________________________________________________________________________
    # Platform	| Model name	            | Chemistry /Instruments	| Basecaller	| Option (-p/--platform)	    | Reference	    | Aligner
    # ____________________________________________________________________________________________________________________________________________
    # ONT	    | r1041_e82_400bps_sup_v420	| R10.4.1, 5khz	            | Dorado SUP	| ont_r10_dorado_sup_5khz_ssrs	| GRCh38_no_alt	| Minimap2
    # ONT	    | r1041_e82_400bps_sup_v420	| R10.4.1, 5khz	            | Dorado SUP	| ont_r10_dorado_sup_5khz_ss	| GRCh38_no_alt	| Minimap2
    # ONT	    | r1041_e82_400bps_sup_v410	| R10.4.1, 4khz	            | Dorado SUP	| ont_r10_dorado_sup_4khz	    | GRCh38_no_alt	| Minimap2
    # ONT	    | r1041_e82_400bps_hac_v420	| R10.4.1, 5khz	            | Dorado HAC	| ont_r10_dorado_hac_5khz	    | GRCh38_no_alt	| Minimap2
    # ONT	    | r1041_e82_400bps_hac_v410	| R10.4.1, 4khz	            | Dorado HAC	| ont_r10_dorado_hac_4khz	    | GRCh38_no_alt	| Minimap2
    # ONT	    | r104_e81_sup_g5015	    | R10.4/R10.4.1, 4khz	    | Guppy5 SUP	| ont_r10_guppy	                | GRCh38_no_alt	| Minimap2
    # ONT	    | r941_prom_sup_g5014	    | R9.4.1, 4khz	            | Guppy5 SUP	| ont_r9_guppy	                | GRCh38_no_alt	| Minimap2

        inputs:
            # Available wildcards: {seq_type} {genome_build} {sample_id} {chemistry} {platform} {normal_name}
            sample_bam: "__UPDATE__"
            sample_bai: "__UPDATE__"
            normal_bam: "__UPDATE__"
            normal_bai: "__UPDATE__"

        scratch_subdirectories: []

        options:
            version_map:
                hg38: "38"
            seqtype_map:
                promethION: "promethION"
            normal_name:
                R9: "__UPDATE__" # Update this with the prefix for your R9 normal BAM file
                R10: "__UPDATE__" # Update this with the prefix for your R10 normal BAM file
            clairs_args: "__UPDATE__" # Update this with the arguments you wish to add for variant calling with ClairS. Example: "--snv_min_af 0.1 --enable_indel_calling --min_coverage 8 -s TUMOR --snv_min_qual 5"
            model_path: "__UPDATE__" # Update this with the path to ClairS models (ending with /). Likely something like {MODSDIR}/modules/clairs/1.0/ClairS-0.4.4/models/
            clairs_path: "__UPDATE__" # Update this with the path to the run_clairs script. Likely something like {MODSDIR}/modules/clairs/1.0/ClairS-0.4.4/ClairS/run_clairs
            filters: 'FILTER="PASS" && INFO/AF < 0.0001 && FMT/DP[0] >= 8 && FMT/AF[0] >= 0.1 && (FMT/NDP[0] < 10 || FMT/NAF[0] < 0.3)' # Update this line if you wish to use different filters
            modsdir: "{MODSDIR}"

        conda_envs:
            bcftools: "{MODSDIR}/envs/bcftools-1.10.2.yaml"
            clairs: "{MODSDIR}/envs/clairs-0.4.4.yaml"

        threads:
            clairs: 24
            bcftools: 4

        resources:
            clairs:
                mem_mb: 20000
            bcftools:
                mem_mb: 5000

        pairing_config:
            promethION:
                run_paired_tumours: False
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: True