lcr-modules:

    sequenza:

        inputs:
            # Available wildcards: {seq_type} {genome_build} {sample_id}
            sample_bam: "__UPDATE__"
            sample_bai: "__UPDATE__"
            merge_seqz: "{MODSDIR}/src/bash/merge_seqz.sh"
            filter_seqz: "{MODSDIR}/src/bash/filter_seqz.sh"
            run_sequenza: "{MODSDIR}/src/R/run_sequenza.R"
            cnv2igv: "{SCRIPTSDIR}/cnv2igv/1.5/cnv2igv.py"

        # specify in which projections you want the output files
        requested_projections: ["grch37", "hg38"]

        scratch_subdirectories: []

        options:
            # in bam2seqz pass any additional flags for the sequenza-utils. For example, this can include --normal2 to use for depth.ratio calculation.
            bam2seqz: "--qlimit 30"
            seqz_binning: "--window 300"
            # cnv2igv preserve log.ratio or change this to "" to calculate it from the absolute CN
            preserve: "--preserve_log_ratio"
            # liftOver options to convert between genomic builds
            liftover_script_path: "{SCRIPTSDIR}/liftover/2.0/liftover.sh"
            liftover_minMatch: "0.95" # Float number from 0 to 1 indicating minimal mapping when converting to a different genome build
            prefixed_projections: ["grch38", "hg38"] # List here the base names of chr-prefixed projections
            non_prefixed_projections: ["grch37", "hg19", "hs37d5"] # List here the base names of non-prefixed projections
            fill_segments_version: "1.2/"

        conda_envs:
            sequenza-utils: "{MODSDIR}/envs/sequenza-utils-3.0.0.yaml"
            r-sequenza: "{MODSDIR}/envs/r-sequenza-3.0.0.yaml"
            bedtools: "{MODSDIR}/envs/bedtools-2.29.2.yaml"
            cnv2igv: "{SCRIPTSDIR}/cnv2igv/1.5/python-3.8.3.yaml"
            liftover: "{SCRIPTSDIR}/liftover/2.0/liftover.yaml"

        resources:
            vcf_sort:
                mem_mb: 2000
            bam2seqz:
                mem_mb: 10000
                bam: 1
                disk_mb: 10000
            merge_seqz:
                mem_mb: 10000
            filter_seqz:
                mem_mb: 20000
            sequenza:
                mem_mb: 20000
                disk_mb: 10000
            post_sequenza:
                mem_mb: 2000
                bam: 1

        threads:
            bam2seqz: 3
            merge_seqz: 1
            filter_seqz: 1
            sequenza: 8


        # For now, only supporting matched tumour-normal pairs
        pairing_config:
            genome:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
            capture:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
