lcr-modules:
  _shared:
    # lcr modules config
    lcr-modules: ".../lcr-modules/"
    lcr-scripts: ".../lcr-scripts/"
    root_output_dir: ".../pipeline_outputs/" # where to write all the outputs
    pairing_config:
      genome:
          run_paired_tumours: True
          run_unpaired_tumours_with: "unmatched_normal"
          run_paired_tumours_as_unpaired: False
      capture:
          run_paired_tumours: True
          run_unpaired_tumours_with: "no_normal"
          run_paired_tumours_as_unpaired: False
    # global_params for cfDNA pipeline workflows
    # Input and output
    samplesheet: ""
    # baseoutdir: deprecated, use root_output_dir
    ref_genome: ".../GRCh38_no_alt.fa"
    # panel info
    ref_genome_ver: "GRCh38"  # GRCh37 if GRCh37/hg19, GRCh38 if GRCh38/hg38

    # should be formatted as a dict. allows for multiple panels. "Panel_name_in_samplesheet : path_to_panel_file" -- samplesheet column is "capture_space"
    captureregions: {}

    # Picard Interval List, make using picard BedToIntervalList
    captureregionsil: {}  

  cfDNA_umi_workflow:
    # Should contain BWA indicies and samtools fai index in the same directory
    refgenome: ".../GRCh38_no_alt.fa"
    picard_refgenome: ".../GRCh38_no_alt.fa" # includes the .dict
    dbsnpvcf: ".../dbSNP.151.all.withChr.vcf.gz"  # Should be BGzipped and TABIX indexed

    # path example with {sample} wildcard to fastq files
    fastq_r1_path: ".../pipeline_outputs/bam_pipeline/pipeline_inputs/{sample}_R1.fastq.gz"
    fastq_r2_path: ".../pipeline_outputs/bam_pipeline/pipeline_inputs/{sample}_R2.fastq.gz"

    readgroup:
      centre: "morin_lab"
      platformunit: "ILLUMINA"
      platformmodel: "NextSeq"
      description: "CAPPSeq of lymphoma-associated genes"

    # Threads
    bwa_threads: 8
    duplexconsensus_threads: 8
    samtools_sort_threads: 4
    basequal_threads: 2

    # Barcode an duplex information
    barcodelength: "8"
    barcodelocation: "8M+T"  # Location of the barcode. See https://github.com/fulcrumgenomics/fgbio/wiki/Read-Structures
    umiedits: "2"  # Would be warry of changing
    minreads: "0"  # DO NOT SET TO x UNLESS YOU WANT AT LEAST x READ(S) FROM **EACH** STRAND

    # Cleanup and sanitization
    max_base_qual: 70
    min_base_qual: 20
    tags_to_remove: {'ad', 'ac', 'bd', 'ae', 'be', 'bq', 'bc', 'aq'}

  cfDNA_SAGE_workflow:
      # SAGE specific parameters
      notlist: ".../PON/99-PON/capture/ctDNA_panel--hg38/rrDLBCL_ctDNA/somaticvcf/ctDNA_panel_pon.vcf" # optional, leave blank if you dont have one
      ensembl: "...resources/ensemble_data_cache/38" # need to download, see README, change to 38 if needed
      sage_hotspots: ".../resources/KnownHotspots.38.vcf.gz" # can be custom or hmf tools one--given to SAGE, and positions exempt from further filtering
      high_conf_bed: ".../pipeline_bed_files/dumby_high_conf.bed" # use empty dumby bed if not calling outside of panel regions
      max_depth: "100000"

      # additional files can provided if some manual curation is desired for post-SAGE filtering
      blacklist_manifest: "" # text file no header, chr:position

      # vcf2maf specific parameters
      custom_enst: ".../resources/custom_enst.hg38.txt"
      vep_data: "..../ensembl_vep_cache/"
      centre: "morin_lab"

      # Mask positions with a high incidence of N bases
      # mask_script: "src/mask_n_sites.py"
      mask_threshold: "0.05"  # Fraction of N bases at a position to mask it
      mask_count: "8"  # Minimum number of N bases required to mask a position

      # SAGE filters
      # VAF
      hard_min_vaf: "0.002" # should be <= than tier specific cutoffs, allows for quicker processing (VAF FLOOR)
      tumor_panel_min_vaf: "0.005" # first pass filter on panel positions
      novel_vaf: "0.01" # VAF for novel variants, only hotspots and phased variants are allowed to be lower

      # controls the proportion of good quality alt reads allowed in the normal vs the tumor, based on cumulative BQ scores
      panel_max_germ_rel_raw_bq: 0.08 # default is 0.04, a SAGE argument
      hotspot_max_germ_rel_raw_bq: 0.08 # default is 0.25, a SAGE argument

      min_germline_depth: 50
      max_normal_alt_depth: 10 # hard filter not applied to hotspot positions
      min_map_qual: "40"

      # Post-filtering of index variants (ie those called in a sample)
      min_alt_depth: 5
      min_t_depth: 100 # minimum depth in tumor, especially important for unpaired workflows
      exac_max_freq: 0.01

      # UMI filters
      min_UMI_3_count: 2 # all variants with t_alt_count > low_alt_thresh
      low_alt_thresh: 50 # be stricter with these lower alt count variants
      low_alt_min_UMI_3_count: 3

      # background mutation rate filter
      background_rates: ""  # Optional file path, empty = skip filter
      min_background_samples: 20  # Minimum n_samples required
      background_n_std: 2  # Number of std devs above mean bg to pass

      # augment maf filter criteria
      aug_min_UMI_3_count: 1
      phase_id_col: "LPS" # sage column name
      phased_min_t_alt: 3

      # IGV screenshot annotation sources.
      cytoband: ".../resources/cytoband.hg38.txt"
      genetrack: ".../resources/gencode.v23.gtf.gz"