lcr-modules:

    pyclone_vi:

        # TODO: Update the list of available wildcards, if applicable
        inputs:
            # Available wildcards: {seq_type} {genome_build} {tumour_id} {normal_id} {pair_status}
            sample_maf: "__UPDATE__"
            sample_subclones: "__UPDATE__"
            sample_cellularity: "__UPDATE__"
            sample_sex: "__UPDATE__" # Only {normal_id} available

        scratch_subdirectories: []

        options:
            build_input:
                subset_maf: True # Whether to use the full maf or subset to only coding and aSHM mutations.
                gamblr_branch: ""
                gamblr_config_url: "https://raw.githubusercontent.com/morinlab/GAMBLR/master/config.yml"
            fit:
                num_clusters: 30
                num_restarts: 100
                opts: "--mix-weight-prior 10"
            phyclone:
                burnin: 100
                num_iters: 350
                density: "binomial" # Options: "binomial" or "beta-binomial"

        conda_envs:
            python: "{MODSDIR}/envs/python.yaml"
            pyclone-vi: "{MODSDIR}/envs/pyclone-vi.yaml"
            pyclone: "{MODSDIR}/envs/pyclone.yaml"
            phyclone: "{MODSDIR}/envs/phyclone.yaml"
            fill_battenberg: "{MODSDIR}/envs/fill_battenberg.yaml"
            gamblr: "{MODSDIR}/envs/gamblr.yaml"

        scripts:
            subset_maf: "{MODSDIR}/src/subset_maf_for_pyclone.R"
            build_input: "{MODSDIR}/src/build_input.py"
            compute_stats: "{MODSDIR}/src/compute_expected_statistics.py"

        threads:
            build_input: 1
            fit: 4
            phyclone: 4

        resources:
            build_input:
                mem_mb: 2000
            fit:
                mem_mb: 50000
            phyclone:
                mem_mb: 50000


        pairing_config:
            genome:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
            capture:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
