lcr-modules:

    battenberg:
        inputs:
            # Available wildcards: {seq_type} {genome_build} {sample_id}
            sample_bam: "__UPDATE__"
            battenberg_script: "{MODSDIR}/src/battenberg_wgs_hg38.R"
            cnv2igv: "{SCRIPTSDIR}/cnv2igv/1.5/cnv2igv.py"
            src_dir: "{MODSDIR}/src/"

        # specify in which projections you want the output files
        requested_projections: ["grch37", "hg38"]

        scratch_subdirectories: []

        reference_path:
            hg38: "__UPDATE__"
            grch37: "__UPDATE__"

        options:
            #update and add/remove these lines as needed for the reference genomes being used.
            chr_prefixed_reference:
                hg38: " --chr_prefixed_genome "
                grch37: " "
            x_chrom:
                hg38: "chrX"
                grch37: "X"
            y_chrom:
                hg38: "chrY"
                grch37: "Y"
            # cnv2igv preserve log.ratio or change this to "" to calculate it from the absolute CN
            preserve: "--preserve_log_ratio"
            # liftOver options to convert between genomic builds
            liftover_script_path: "{SCRIPTSDIR}/liftover/2.0/liftover.sh"
            liftover_minMatch: "0.95" # Float number from 0 to 1 indicating minimal mapping when converting to a different genome build
            fill_segments_version: "1.2/"

        conda_envs:
            battenberg: "{MODSDIR}/envs/battenberg-1.1.yaml"
            samtools: "{MODSDIR}/envs/samtools-1.9.yaml"
            bedtools: "{MODSDIR}/envs/bedtools-2.29.2.yaml"
            cnv2igv: "{SCRIPTSDIR}/cnv2igv/1.5/python-3.8.3.yaml"
            liftover: "{SCRIPTSDIR}/liftover/2.0/liftover.yaml"

        resources:
            battenberg:
                mem_mb: 200000
                bam: 1
            infer_sex:
                mem_mb: 20000
                bam: 1
            post_battenberg:
                mem_mb: 2000
                bam: 1

        threads:
            battenberg: 24
            #ideal for processing all chromosomes at once

        pairing_config:
            genome:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
            capture:
                run_paired_tumours: True
                run_unpaired_tumours_with: null
                run_paired_tumours_as_unpaired: False
