lcr-modules:

    dlbclass:

        inputs:
            # Available wildcards: {seq_type}
            master_maf: "__UPDATE__" # Input maf is required
            master_seg: "__UPDATE__" # Optional. Change to "" if unused. 
            master_sv: "__UPDATE__" # Optional. Change to "" if unused.
            empty_seg: "{MODSDIR}/etc/empty.seg"
            empty_sv: "{MODSDIR}/etc/empty.sv"
            subsetting_categories: "__UPDATE__" # e.g. "data/metadata/level3_subsetting_categories.tsv"
            dlbclass_release: "https://github.com/lkhilton/DLBclass-tool/archive/refs/tags/v0.1.1.tar.gz"
            focal_cnv: "https://raw.githubusercontent.com/getzlab/DLBCL-Classifier/refs/heads/master/data_tables/additional_gsm_inputs/DLBCL_focal_peaks.18Aug2024.tsv" 
            arm_cnv: "https://raw.githubusercontent.com/getzlab/DLBCL-Classifier/refs/heads/master/data_tables/additional_gsm_inputs/DLBCL_broad_significance.18Aug2024.tsv"
            blacklist_cnv: "https://raw.githubusercontent.com/getzlab/DLBCL-Classifier/refs/heads/master/data_tables/additional_gsm_inputs/CNV.hg19.bypos.111213.CR1_event_added.bed"
        sample_set: ["__UPDATE__"]
        dlbclass_path: "__UPDATE__" # Parent directory to where DLBclass-tool repository will be downloaded, e.g. "~/software/"
        # Uncomment the following line to add a launch_date. Otherwise the current year-month will be used
        # launch_date: ""
        
        options: 
            sv2gsm: 
                POS_value: "POS"
                NEG_value: "NEG"
            seg2gsm: 
                thresholds: "lenient" # Options: "lenient" (matches original), "stringent"
        
        include_non_coding: True
        
        scripts: 
            prepare_svs: "{MODSDIR}/src/sv2gsm.R"
            prepare_mafs: "{SCRIPTSDIR}/generate_smg_inputs/1.1/generate_smg_inputs.R"
        

        scratch_subdirectories: []

        conda_envs:
            prepare_mafs: "{REPODIR}/envs/gatk/gatkR.yaml"
            wget: "{MODSDIR}/envs/wget-1.20.1.yaml"
            dlbclass: "{MODSDIR}/envs/dlbclass.yaml"

        threads:
            dlbclass: 2

        resources:
            dlbclass:
                mem_mb: 250000

        pairing_config:
            genome:
                run_paired_tumours: True
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: False
            capture:
                run_paired_tumours: True
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: False
