.rst-content .section ul li,
.rst-content .section ol li {
  margin-bottom: 12px;
}

table p {
  margin-bottom: 0;
}

.rst-content div.note div[class^="highlight"] {
  margin-bottom: 0;
}

.rst-content div.note div.line-block {
  margin-bottom: 12px;
}
