lcr-modules:
    _shared:
        lcr-modules: "../"
        lcr-scripts: "../../lcr-scripts/"
        root_output_dir: "results/"
        scratch_directory: "scratch/"
        unmatched_normal_ids:
            capture--grch37: "TCRBOA7-N-WEX"

    slms_3:
        inputs:
            sample_bam: "data/{sample_id}.bam"
            sample_bai: "data/{sample_id}.bam.bai"

    bam2fastq:
        inputs:
            sample_bam: "data/{sample_id}.bam"
        temp_outputs: True # fastq outputs will be temporary

    sequenza:
        inputs:
            sample_bam: "data/{sample_id}.bam"
            sample_bai: "data/{sample_id}.bam.bai"
        scratch_subdirectories: []
        options:
            # in bam2seqz pass any additional flags for the sequenza-utils. For example, this can include --normal2 to use for depth.ratio calculation.
            bam2seqz: "--qlimit 30"
            seqz_binning: "--window 300"
            cnv2igv: "--mode sequenza"

    bwa_mem:
        inputs:
            sample_fastq_1: "results/bam2fastq-1.2/01-fastq/{seq_type}/{sample_id}.read1.fastq.gz"
            sample_fastq_2: "results/bam2fastq-1.2/01-fastq/{seq_type}/{sample_id}.read2.fastq.gz"
        scratch_subdirectories: []

    utils:
        inputs:
            bed:
                grch37: "data/exome_bed/hg19/target_regions.nochr.bed" # make sure this corresponds with config["lcr-modules"]["picard_qc"]["inputs"]["intervals"]
                # if testing on GSC, use this file: "/projects/dscott_prj/CCSRI_1500/exomes/ref/agilent/hg19/target_regions.nochr.bed"
        mem_mb:
            bam_sort: 48000
        threads:
            bam_sort: 12

    battenberg:
        inputs:
            # Available wildcards: {seq_type} {genome_build} {sample_id}
            sample_bam: "data/{sample_id}.bam"

    pathseq:
        inputs:
            sample_bam: "data/{sample_id}.bam"
            sample_bai: "data/{sample_id}.bam.bai"

        options:
            min_read_length: 49
            ebv_cutoff: [0.00004, 0.00008]

    cnvkit:
        inputs:
            sample_bam: "data/{sample_id}.bam"
            sample_bai: "data/{sample_id}.bam.bai"

    qc:
        inputs:
            sample_bam: "data/{sample_id}.bam"
            sample_bai: "data/{sample_id}.bam.bai"
