lcr-modules:
    
    freebayes:

        inputs:
            # Available wildcards: {seq_type} {genome_build} {sample_id}
            sample_bam: "__UPDATE__"
            sample_bai: "__UPDATE__"
            reference_config: "__UPDATE__" # Path to the config file specified in the subworkflow reference_files section of the wrapper Snakefile

        scratch_subdirectories: []

        options:
            freebayes: <(fasta_generate_regions.py {input.fasta}.fai 10000) # Indicate the bin size for freebayes parallelization and other arguments to the script https://github.com/freebayes/freebayes/blob/master/scripts/fasta_generate_regions.py
            target_builds: ["hg38", "grch37"]

        conda_envs:
            freebayes: "{MODSDIR}/envs/freebayes-1.3.8.yaml"
            crossmap: "{MODSDIR}/envs/crossmap-0.7.0.yaml"
            
        threads:
            freebayes: 24
            crossmap: 1
            gzip: 8

        resources:
            freebayes: 
                mem_mb: 25000
                bam: 1
            crossmap: 
                mem_mb: 25000
            gzip: 
                mem_mb: 25000
            
            
        pairing_config:
            genome:
                run_paired_tumours: False
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: True
            capture:
                run_paired_tumours: False
                run_unpaired_tumours_with: "no_normal"
                run_paired_tumours_as_unpaired: True
